<style>
@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
</style>

<div class="ui container">

  <% if flash[:errors] %>
    <div class="ui error message">
      <i class="ui close icon"></i>
      <ul class="ui list">
        <% flash[:errors].each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui container">
    <br><br><br><br>

    <div class="ui one column stackable center aligned page equal height grid">

        <div class="ui six wide form">
          <%= form_tag '/login' do %>

            <div class="field">
              <%= label_tag :username %>
              <div class="ui left icon input">
              <span placeholder="Username"><%= text_field_tag :username%></span>
              <i class="user icon"></i>
            </div>

            <div class="field">
              <%= label_tag :password %>
                <div class="ui left icon input">
                <%= password_field_tag :password %>
                <i class="lock icon"></i>
                </div>
            </div>

            <%= submit_tag 'Login', class: 'ui yellow button'%>
            
          <% end %>
        </div>


    </div>

  </div>

</div>