<h1 class= "label" style="background-color: #011F2E; color: #fff;"><strong style="color: #fff;">Login</h1>
<% if flash[:errors] %>
<ul>
    <% flash[:errors].each do |message| %>
      <li><%= message %></li>
    <% end %>
</ul>
<% end %>

<%= form_tag '/login', class: "field" do %>

    <%= label_tag :username, nil, class: "label" %>
    <%= text_field_tag :username, nil, class: "input" %>

    <%= label_tag :password, nil, class: "label" %>
    <%= password_field_tag :password, nil, class: "input" %>

    <%= submit_tag 'Login', class: "button is-primary"%>
<% end %>
