<h1 class= "label" style="background-color: #011F2E; color: #fff;"><strong style="color: #fff;">Shops</strong></h1>

  <%= form_tag "/shops", method: :get do %>
    <div class="field">
      <%= select_tag "Search by", options_for_select([["location", "location"],["name", "name"]]), class: "label"%>
      <%= text_field_tag :search_term, nil, class: "input" %>
      <%= submit_tag "Filter for Shop", class: "button is-primary" %>
    </div>
  <% end %>


  <% if @shops %>
    <table class="table">
      <thead>
        <tr class="is-selected">
          <th>Average Rating</th>
          <th>Name</th>
          <th>Location</th>
          <th>Address</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @shops.each do |shop| %>
          <tr>
            <td><h1 style="font-size: 15px;"><%= shop.avg_rating %></h1></td>
            <td><h1 style="font-size: 15px;"><%= shop.name %></h1></td>
            <td><h1 style="font-size: 15px;"><%= shop.location %></h1></td>
            <td><h1 style="font-size: 15px;"><%= shop.address %></h1></td>
            <td><h1 style="font-size: 15px;"><%= link_to 'Show', shop %></h1></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2>Shop could not be found!</h2>
    <%= link_to 'Back to Shops', shops_path %>
  <% end %>
  <br>

<% if logged_in? %>

<h1 style="font-size: 15px;"><%= link_to 'New Shop', new_shop_path %> |
<%= link_to 'Back to User', user_path(@current_user) %></h1>

<% end %>