<h1 class= "label" style="background-color: #011F2E; color: #fff;">
  <strong style="color: #fff;">Shops</strong>
</h1>


<%= form_tag "/shops", method: :get do %>
  <div class="field">
    <%= select_tag "Search by", options_for_select([["location", "location"],["name", "name"]]), class: "label", style:"color:black;"%>
    <%= text_field_tag :search_term, nil, class: "input" %>
    <%= submit_tag "Filter for Shop", class: "button-is-primary"%>
  </div>
<% end %>


<% if @shops %>
  <div class="container" style="display: flex; justify-content: center">
    <table class="table">
      <thead>
        <tr class="is-selected">
          <th class="row">
            Average Rating
          </th>
          <th class="row">
            Name
          </th>
          <th class="row">
            Location
          </th>
          <th class="row">
            Address
          </th>
          <th class="row" colspan="3"></th>
        </tr>
      </thead>

      <tbody>

        <% @shops.each do |shop| %>

          <tr>
            <td class="row-content">
              <h1>
                <%= shop.avg_rating %>
              </h1>
            </td>
            <td class="row-content">
              <h1>
                <%= shop.name %>
              </h1>
            </td>
            <td class="row-content">
              <h1>
                <%= shop.location %>
              </h1>
            </td>
            <td class="row-content">
              <h1>
                <%= shop.address %>
              </h1>
            </td>
            <td class="row-content">
              <h1>
                <%= link_to 'Show', shop %>
              </h1>
            </td>
          </tr>

        <% end %>

      </tbody>
    </table>
</div>

<% else %>


<div class="container" style="display: flex; justify-content: center">
  <h2>
    Shop could not be found!
  </h2>
  <%= link_to 'Back to Shops', shops_path %>
</div>

<% end %>

  <br>

<div class="container" style="display: flex; justify-content: center">
  <% if logged_in? %>
    <h1>
      <%= link_to 'New Shop', new_shop_path %> |
      <%= link_to 'Back to User', user_path(@current_user) %>
    </h1>
  <% end %>
</div>