<p id="notice"><%= notice %></p>

<% flash[:shop_id] = @shop.id%>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shop.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %> |

<%= link_to 'Add review', new_shop_review_path %>