<div class="ui container">
<center>



<p id="notice"><%= notice %></p>

<h1>My Recommendations</h1>

<table>
  <thead>
    <tr>
      <th>Tea</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @recommendations.each do |recommendation| %>
      <tr>
        <td><%= link_to Tea.find(recommendation.tea_id).tea_with_shop, tea_path(Tea.find(recommendation.tea_id)) %></td>
        <td><%= recommendation.comments %></td>
        <td><%= link_to 'Edit', edit_recommendation_path(recommendation) %></td>
        <td><%= link_to 'Delete Recommendation', recommendation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Recommendation', new_recommendation_path %>
<%= link_to 'Back to User', user_path(@current_user) %>


</center>
</div>