<div class="ui container">
<center>



<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find_by(id: @recommendation.user_id).full_name %>
</p>

<p>
  <strong>Tea:</strong>
  <%= Tea.find_by(id: @recommendation.tea_id).shop_and_location %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @recommendation.comments %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>


</center>
</div>