<% if flash[:errors] %>
  <div id="error_explanation">
    <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.number_field :shop_id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_field :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
