<h1 class= "label" style="background-color: #011F2E; color: #fff;">
  <strong style="color: #fff;">
    Shop Reviews
  </strong>
</h1>

<div class="container" style="display: flex; justify-content: space-around">
  <table class="table">
    <thead>
      <tr class="is-selected">
        <th class="row">
          Shop
        </th>
        <th class="row">
          Rating
        </th>
        <th class="row">
          Review
        </th>
        <th class="row" colspan="3"></th>
      </tr>
    </thead>

    <tbody>

      <% @shop_reviews.each do |shop_review| %>
        <tr>
          <td class="row-content">
            <h1>
              <%= link_to Shop.find(shop_review.shop_id).shop_with_location, shop_review_path(Shop.find(shop_review.shop_id)) %>
            </h1>
          </td>
          <td class="row-content">
            <h1>
              <%= shop_review.rating %>
            </h1>
          </td>
          <td class="row-content">
            <h1>
              <%= shop_review.review %>
            </h1>
          </td>
          <td class="row-content">
            <h1>
              <%= link_to 'Edit', edit_shop_review_path(shop_review) %>
            </h1>
          </td>
          <td class="row-content">
            <h1>
              <%= button_to 'Delete Review', shop_review, method: :delete, class: "button-is-primary" %>
            </h1>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>

<br>

<div class="container" style="display: flex; justify-content: space-around;">
  <h1>
    <%= link_to 'Review a Shop', new_shop_review_path %> |
    <%= link_to 'Back to User', user_path(@current_user) %>
  </h1>
</div>
