<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shop_review.user_id %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @shop_review.shop_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @shop_review.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @shop_review.review %>
</p>

<%= link_to 'Edit', edit_shop_review_path(@shop_review) %> |
<%= link_to 'Back', shop_reviews_path %>
