<div class="ui container">
<center>

<p>
  <strong>Shop:</strong>
  <%= Shop.find_by(id: @shop_review.shop_id).name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @shop_review.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @shop_review.review %>
</p>

<%= link_to 'Edit', edit_shop_review_path(@shop_review) %> |
<%= link_to 'Back', shop_reviews_path %>


</center>
</div>