<br>
<div class="ui container">
<br>
    <% if flash[:errors] %>
      <div class="ui error message">
        <i class="close icon"></i>
        <h2 class="ui header"><%= pluralize(flash[:errors].count, "error") %> prohibited this user from being saved:</h2>
        <ul class="ui list">
          <% flash[:errors].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


  <div class="ui centered grid">
    <div class="ui form">

    <%= form_for @user do |form| %>
      <div class="ui field">
        <%= form.label :username %>
        <%= form.text_field :username %>
      </div>

      <div class="ui field">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div class="ui field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>

      <div class="ui field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="ui field">
        <%= form.label :photo_url %>
        <%= form.text_field :photo_url %>
      </div>

      <div class="actions">
        <%= form.submit%>
      </div>
    <% end %>
    </div>

  </div>
</div>