<style>
@import url('https://fonts.googleapis.com/css?family=Lobster|Turret+Road:700&display=swap');
</style>

<div class="ui container">
<center>
<!-- This means if you are loggedin to see this person's profile, -->
<% if params[:id].to_i != @current_user.id %>

      <div class="image">
        <img class="ui medium circular image" src="https://images.unsplash.com/photo-1529335764857-3f1164d1cb24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80">
      </div>


      <h3><%= @user.full_name%></h3>

    <p>
      <strong>Photo url:</strong>
      <%= @user.photo_url %>
    </p>

    <% else%>


    <p>
      <strong>Name:</strong>
      <%= @user.full_name %>
    </p>

    <p>
      <strong>Photo url:</strong>
      <%= @user.photo_url %>
    </p>




<br>

    <div class="ui container">
      <%= link_to 'View Boba Shops', shops_path, class: "ui violet button"%>
      <%= link_to 'My Reviews', shop_reviews_path, class: 'ui violet button' %>
      <%= link_to 'My Recommendations', recommendations_path, class: 'ui violet button' %>
    </div>

    <br><br><br>

    <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular linkedin icon button">
      <i class="linkedin icon"></i>
    </button>
    <button class="ui circular google plus icon button">
      <i class="google plus icon"></i>
    </button>

<br>

    <%= button_to 'Edit', edit_user_path(@user), method: :get %> 
    <%= button_to 'Delete User', user_path(@user), method: :delete %>

<% end %>
</center>
</div>
