<% if flash[:errors] %>
  <div id="error_explanation">
    <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this user from being updated:</h2>
    <ul>
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if params[:id].to_i != @current_user.id %>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @user.photo_url %>
</p>

<% else%>
  




<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @user.photo_url %>
</p>

<%= button_to 'Edit', edit_user_path(@user), method: :get %> 
<%= button_to 'Delete User', user_path(@user), method: :delete %>
<%= link_to 'View Boba Shops', shops_path%>
<%= button_to 'Log out', '/logout', method: :delete %> 

<%= link_to 'Add a Review', new_shop_review_path %>
<%= link_to 'Add to My Recommendations', new_recommendation_path %>

<% end %> 