<h1 class= "label" style="background-color: #011F2E; color: #fff;">
  <strong style="color: #fff;">
    Current User
  </strong>
</h1>

<div style="text-align: center;">

  <% if params[:id].to_i != @current_user.id %>
    <p>
      <img class="is-rounded" width="275" height="275" src=<%= @user.photo_url %> />
    </p>

    <p>
      <h1 style="font-size: 20px;">
        <strong>
          Name: <%= @user.full_name %>
        </strong>
      </h1>
    </p>

    <br>

    <h1>
      <%= link_to 'Back to User', user_path(@current_user) %>
    </h1>

  <% else%>

    <p>
      <img class="is-rounded" width="275" height="275" src=<%= @user.photo_url %> />
    </p>
    
    <p>
      <h1 style="font-size: 20px;">
        <strong>
          Name: <%= @user.full_name %>
        </strong>
      </h1>
    </p>

    <br>

    <%= button_to 'Edit', edit_user_path(@user), method: :get, class: "button-is-primary" %> 
    <%= button_to 'Delete User', user_path(@user), method: :delete, class: "button-is-primary" %>

    <br>

    <h1>
      <strong>
        <%= link_to 'View Boba Shops', shops_path%> |
        <%= link_to 'My Reviews', shop_reviews_path %> |
        <%= link_to 'My Recommendations', recommendations_path %>
      </strong>
    </h1>
  <% end %> 

</div>