<style>
@import url('https://fonts.googleapis.com/css?family=Lobster|Turret+Road:700&display=swap');
</style>

<div class="ui container">

  <% if params[:id].to_i != @current_user.id %>

      <h1>Name:</h1>
      <%= @user.full_name %>

    <p>
      <strong>Photo url:</strong>
      <%= @user.photo_url %>
    </p>

    <% else%>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user.full_name %>
    </p>

    <p>
      <strong>Photo url:</strong>
      <%= @user.photo_url %>
    </p>

    <%= button_to 'Edit', edit_user_path(@user), method: :get %> 
    <%= button_to 'Delete User', user_path(@user), method: :delete %>

    <div class="ui inverted segment">
      <%= link_to 'View Boba Shops', shops_path, class: "ui inverted violet button"%>
      <%= link_to 'My Reviews', shop_reviews_path, class: 'ui inverted violet button' %>
      <%= link_to 'My Recommendations', recommendations_path, class: 'ui inverted violet button' %>
    </div>

    <br><br><br>

    <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular linkedin icon button">
      <i class="linkedin icon"></i>
    </button>
    <button class="ui circular google plus icon button">
      <i class="google plus icon"></i>
    </button>

  <% end %> 

</div>