<!DOCTYPE html>
<html>
  <head>
    <title>BubbleUp! App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% # javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
  <%= link_to 'Sign Up', new_user_path %>
  <%= link_to 'Login', login_path %>
    <%= yield %>
  </body>
</html>
