<!DOCTYPE html>
<style>
@import url('https://fonts.googleapis.com/css?family=Lobster|Turret+Road:700&display=swap');
</style>

<html>
  <head>
    <title>BubbleUp! App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="ui container">
    
          <nav class="ui menu">
              <h1 class="ui mini header item">Bubble Up!</h1>   
              <% if logged_in? %>
              <span class="ui right item">
                Welcome, <%= @current_user.full_name %>
                <%= button_to "Logout", "/logout", method: :delete%>
              </span>
              <% else %>
                <span class="ui right item"><%= link_to "Sign Up", new_user_path%></span>
                <span class="ui item"><%= link_to "Login", login_path %></span>
              <% end %>
          </nav>
        </div>
  </div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <%= yield %>

  </body>
</html>
